<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{h1}}</title>
</head>
<body>
{% if username is defined %}
    <p>{{ username }}</p>
  {% else %}
    <a href="connexion">connexion</a>
{% endif %}
</body>
</html>