<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
  <link rel="stylesheet" href="views/style/style.css"></style>
</head>
<body>
  <div class="form-container">
    <h1>Connexion</h1>
    <form method="POST" action="">
      <!-- Champ mail -->
      <form method="POST" action="">
    <div>
        <label for="mail">Email :</label>
        <input type="email" name="mail" id="mail" />
    </div>
    <div>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="pass" />
    </div>
      <!-- Boutons -->
      <div class="form-actions">
        <button type="submit" class="btn">Connexion</button>
        <a href="inscription" class="link">S'inscrire</a>
      </div>
    </form>
  </div>
  {% if error is defined %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

</body>
</html>
