<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion</title>
  <link rel="stylesheet" href="views/style/style.css"></style>
</head>
<body>
  <div class="form-container">
    <h1>Connexion</h1>
    <form method="POST" action="">
      <!-- Champ mail -->
      <div class="form-group">
        <label for="mail">Mail :</label>
        <input
          type="email"
          name="email"
          id="email"
          required
        />
      </div>

      <!-- Champ nom d'utilisateur -->
     

      <!-- Champ mot de passe -->
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input
          type="password"
          name="password"
          id="password"
          required
        />
      </div>

      <!-- Boutons -->
      <div class="form-actions">
        <button type="submit" class="btn">Connexion</button>
        <a href="inscription" class="link">S'inscrire</a>
      </div>
    </form>
  </div>
  {% if error is defined %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

</body>
</html>
